services:
  mysql-db:
    # Usamos la imagen oficial de MySQL, versión 8.0
    image: mysql:8.0
    # Nombre que le daremos al contenedor para identificarlo fácilmente
    container_name: tesis-db
    # Reinicia el contenedor automáticamente si se detiene por alguna razón
    restart: always
    # Variables de entorno para configurar la instancia de MySQL
    # La imagen de MySQL las usará en el primer arranque para inicializar la BD
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: tesisdb

    # Mapeo de puertos: expone el puerto 3306 del contenedor al puerto 3306 de tu máquina
    ports:
      - "3306:3306"
    # Volúmenes para persistir los datos de la base de datos
    # Esto evita que pierdas tus datos si el contenedor se detiene o se elimina
    volumes:
      - tesis-mysql-data:/var/lib/mysql

  backend:
    build: .
    container_name: tesis-backend-local
    restart: always
    ports:
      - "8080:8080"
    environment:
      JDBC_DATABASE_URL: jdbc:mysql://db:3306/tesisdb?createDatabaseIfNotExist=true
      JDBC_DATABASE_USERNAME: "root"
      JDBC_DATABASE_PASSWORD: ${DB_PASSWORD}
    depends_on:
      - mysql-db

volumes:
  # --- CAMBIO: Definir el volumen con un nombre único ---
  tesis-mysql-data:
