files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_install_datadog.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # Do not run on every deployment, only if the agent is not installed.
      if [ -f /etc/datadog-agent/datadog.yaml ]; then
        echo "Datadog agent already installed."
        exit 0
      fi

      # Get the API Key from the Elastic Beanstalk environment variables
      DD_API_KEY=$(/opt/elasticbeanstalk/bin/get-config environment -k DD_API_KEY)

      if [ -z "$DD_API_KEY" ]; then
        echo "DD_API_KEY environment variable not set. Skipping Datadog agent installation."
        exit 0
      fi
      
      echo "Installing Datadog agent..."
      DD_SITE="datadoghq.com" DD_API_KEY=$DD_API_KEY bash -c "$(curl -L https://s3.amazonaws.com/dd-agent/scripts/install_script_agent7.sh)"
