name: Deploy - Manually Deploy to Elastic Beanstalk

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-2
  ECR_REPOSITORY: "tesis-backend"
  AWS_ROLE_TO_ASSUME: arn:aws:iam::467210048291:role/GitHubActions-ECR-Role
  EB_APPLICATION_NAME: "tesis-backend-app"
  EB_ENVIRONMENT_NAME: "tesis-backend-env"
  S3_BUCKET: "tesis-backend-bucket-deployment"

jobs:
  deploy:
    name: Deploy to Elastic Beanstalk
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        id: aws-creds
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Debug AWS Credentials
        run: |
          echo "aws-access-key-id exists: ${{ steps.aws-creds.outputs.aws-access-key-id != '' }}"
          echo "aws-secret-access-key exists: ${{ steps.aws-creds.outputs.aws-secret-access-key != '' }}"
          echo "aws-session-token exists: ${{ steps.aws-creds.outputs.aws-session-token != '' }}"

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Generate Dockerrun.aws.json
        run: |
          echo "{
            \"AWSEBDockerrunVersion\": \"1\",
            \"Image\": {
              \"Name\": \"${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ github.sha }}\",
              \"Update\": \"true\"
            },
            \"Ports\": [
              {
                \"ContainerPort\": \"8080\"
              }
            ]
          }" > Dockerrun.aws.json

      - name: Generate deployment bundle
        run: zip -r deploy.zip Dockerrun.aws.json

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ steps.aws-creds.outputs.aws-access-key-id }}
          aws_secret_key: ${{ steps.aws-creds.outputs.aws-secret-access-key }}
          aws_session_token: ${{ steps.aws-creds.outputs.aws-session-token }}
          application_name: ${{ env.EB_APPLICATION_NAME }}
          environment_name: ${{ env.EB_ENVIRONMENT_NAME }}
          version_label: "v-${{ github.sha }}"
          region: ${{ env.AWS_REGION }}
          deployment_package: deploy.zip
          existing_bucket_name: ${{ env.S3_BUCKET }}
          wait_for_environment_recovery: 60
